/* App.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.start-view {
    flex: 1;
    background: linear-gradient(45deg, #543540, #472C2D, #573531);
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.main-layout {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #2c1c1c;
}

.detail-view {
    flex: 1;
    background-color: #472C2D;
    display: flex;
}

.create-view {
    flex: 1;
    background-color: #472C2D;
    display: flex;
}

.update-view {
    flex: 1;
    background-color: #472C2D;
    display: flex;
}
