/* NavigationBar.css */
#navigation {
    background: linear-gradient(360deg, rgba(199, 75, 53, 0.1), rgba(209, 73, 124, 0.2));
    border-bottom: 5px solid rgba(199, 75, 53, 0.01);
    backdrop-filter: blur(10px);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 100;
}

    #navigation svg {
        fill: white;
        width: 80px;
        height: auto;
        position: absolute;
        left: 44px;
        top: 15px;
        opacity: 75%;
        cursor: pointer;
        transition: filter 0.5s ease;
    }

        #navigation svg:hover {
            filter: drop-shadow(0px 4px 15px #c76f47);
        }

#nav-buttons {
    margin-left: 140px;
    display: flex;
    gap: 20px;
}

#navigation #nav-buttons button {
    font-size: 1.8rem;
    position: relative;
    font-weight: 400;
    background: linear-gradient(rgba(58, 21, 29, 0.3), rgba(76, 28, 27, 0.4)), linear-gradient(#ffc0c6 30%, rgba(144, 52, 77, 0.1) 80%, rgba(18, 18, 19, 0)), linear-gradient(90deg, #c74b35, #c13967, #d1497c, #c13967, #c74b35);
    border: 4px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box, border-box;
    background-size: 200%;
    max-width: fit-content;
    padding: 10px 20px;
    border-radius: 100px;
    animation: animate 2s infinite linear;
}

    #navigation #nav-buttons button::before {
        content: '';
        background: linear-gradient(90deg, #c74b35, #c13941, #c13967, #d1497c, #c13967, #c13941, #c74b35);
        height: 80%;
        width: 105%;
        position: absolute;
        left: -2%;
        bottom: -3%;
        z-index: -1;
        background-size: 200%;
        animation: animate 2s infinite linear;
        transition: opacity 0.8s ease;
        filter: blur(30px);
        opacity: 40%;
    }

    #navigation #nav-buttons button:hover {
        animation: animate 0.5s infinite linear;
    }

        #navigation #nav-buttons button:hover::before {
            animation: animate 0.5s infinite linear;
            opacity: 80%;
        }

    #navigation #nav-buttons button:focus {
        outline: none;
    }

        #navigation #nav-buttons button:focus::before {
            animation: animate 0.5s infinite linear;
            opacity: 80%;
        }

    #navigation #nav-buttons button:active {
        outline: none;
    }

        #navigation #nav-buttons button:active::before {
            animation: animate 0.5s infinite linear;
            opacity: 80%;
        }

#dropdown-serverpicker-container {
    display: flex;
    position: relative;
    justify-content: right;
    margin-left: auto;
    margin-right: 40px;
}



#dropdown-serverpicker-button {
    padding: 6px 6px;
    position: relative;
    background: linear-gradient(rgba(58, 21, 29, 0.3), rgba(76, 28, 27, 0.4)), linear-gradient(#ffc0c6 30%, rgba(144, 52, 77, 0.1) 80%, rgba(18, 18, 19, 0)), linear-gradient(90deg, #c74b35, #c13967, #d1497c, #c13967, #c74b35);
    border: 4px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box, border-box;
    background-size: 200%;
    cursor: pointer;
    display: flex;
    width: 140px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: inherit;
    animation: animate 2s infinite linear;
    z-index: 101;
}

    #dropdown-serverpicker-button::before {
        content: '';
        background: linear-gradient(90deg, #c74b35, #c13941, #c13967, #d1497c, #c13967, #c13941, #c74b35);
        height: 80%;
        width: 105%;
        position: absolute;
        left: -4%;
        bottom: -3%;
        z-index: -1;
        background-size: 200%;
        animation: animate 2s infinite linear;
        transition: opacity 0.8s ease, filter 0.3s ease;
        filter: blur(30px);
        opacity: 40%;
    }

    #dropdown-serverpicker-button:hover {
        animation: animate 0.5s infinite linear;
    }

        #dropdown-serverpicker-button:hover::before {
            animation: animate 0.5s infinite linear;
            opacity: 90%;
        }

    #dropdown-serverpicker-button.dropdown-open {
        animation: animate 0.5s infinite linear;
    }

        #dropdown-serverpicker-button.dropdown-open::before {
            animation: animate 0.5s infinite linear, glowExpand 0.3s ease-out forwards;
            opacity: 70%;
            height: 350%;
            bottom: -300%;
            filter: blur(50px);
        }

    #dropdown-serverpicker-button:focus {
        outline: none;
    }

#serverpicker-dropdown-arrow {
    margin-left: 10px;
    font-size: 10px;
}

#serverpicker-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 3%;
    right: 0;
    width: 90%;
    margin: 0;
    padding: 0;
    list-style: none;
    border: solid 3px;
    border-top: transparent 3px;
    border-color: rgba(255, 255, 255, 0.2);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    animation: rotateMenu 0.6s ease-in-out forwards;
    transform-origin: top center;
}

    #serverpicker-dropdown-menu li {
        padding: 10px 12px;
        cursor: pointer;
        position: relative;
        text-align: center;
        transition: background-color 0.1s ease;
    }

    #serverpicker-dropdown-menu .server::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, #c74b35, #c13967, #d1497c, #c13967, #c74b35);
        background-size: 200%;
        opacity: 0;
        filter: blur(10px);
        animation: animate 1s infinite linear;
        transition: opacity 0.5s ease;
        z-index: -1;
    }

    #serverpicker-dropdown-menu .server:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    #serverpicker-dropdown-menu .server:hover::before {
        opacity: 1;
    }

    #serverpicker-dropdown-menu .server.selected {
        background-image: linear-gradient(to right, #66493C, #633A3F);
        font-weight: bold;
    }

    #serverpicker-dropdown-menu #serverpicker-buttons-row {
        padding: 0px 0px;
    }

        #serverpicker-dropdown-menu #serverpicker-buttons-row:hover {
            background-color: none;
        }

    #serverpicker-dropdown-menu #serverpicker-buttons {
        display: flex;
        flex-wrap: nowrap;
    }

#serverpicker-dropdown-menu #serverpicker-buttons button {
    width: 50%;
    font-size: 0.95rem;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    #serverpicker-dropdown-menu #serverpicker-buttons button:hover {
        border: 0px;
        background-color: rgba(255, 255, 255, 0.4);
    }

    #serverpicker-dropdown-menu #serverpicker-buttons button:focus {
        outline: none;
    }

#serverpicker-dropdown-menu::-webkit-scrollbar {
    width: 6px;
}

#serverpicker-dropdown-menu::-webkit-scrollbar-track {
    background: #34201e;
}

#serverpicker-dropdown-menu::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #7e5b4b, #7c474d);
    border-radius: 5px;
}

    #serverpicker-dropdown-menu::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(to bottom, #8a6450, #8a4c52);
    }


@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 200%;
    }
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }

    70% {
        transform: rotateX(20deg)
    }

    100% {
        transform: rotateX(0deg)
    }
}

@keyframes glowExpand {
    from {
        height: 80%;
        bottom: -3%;
        opacity: 20%;
        filter: blur(30px);
    }

    to {
        height: 350%;
        bottom: -300%;
        opacity: 70%;
        filter: blur(50px);
    }
}
