/* SearchBar.css */
.search-bar {
    padding: 20px;
    color: white;
}

    .search-bar h2 {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    .search-bar input {
        background-color: #34201d;
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border: solid 3px transparent;
        border-image: linear-gradient(to right, #422F27, #42272C);
        border-image-slice: 1;
    }