/* SnippetDetail.css */
.snippet-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

    .snippet-detail.no-selection {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 2.5rem;
        font-weight: bold;
        flex: 1;
    }

.snippet-header {
    background-color: #472C2D;
    color: white;
    padding: 30px;
    text-align: center;
}

    .snippet-header h2 {
        text-align: center;
        padding: 10px;
        font-size: 2rem;
        font-weight: 400;
    }

    .snippet-header h3 {
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 20px;
        text-align: center;
    }

    .snippet-header h4 {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 20px;
        text-align: center;
    }

    .snippet-header .detail-tags {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

.detail-tags span {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 0.72rem;
}


.snippet-code {
    flex: 1;
    background: linear-gradient(to right, #402828, #3D2622);
    color: white;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
    border-radius: 20px;
}

    .snippet-code pre {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 20px;
        border-radius: 8px;
        overflow-x: auto;
    }

    .snippet-code code {
        font-family: 'Courier New', monospace;
        font-size: 1rem;
        line-height: 1.5;
    }

.detail-actions {
    background-color: #472C2D;
    padding: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

    .detail-actions button {
        padding: 15px 40px;
        font-size: 1.4rem;
        font-weight: 400;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s;
    }

        .detail-actions button:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

.btn-update {
    background-color: #613C3F;
    color: white;
}

.btn-delete {
    background-color: #613C3F;
    color: white;
}
