#snippet-list {
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 125px; /* Remove top padding since it starts under SearchBar */
    padding-bottom: 10px;
    color: white;
    overflow-y: auto; /* Scrolling happens here */
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(199, 75, 53, 0.1), rgba(209, 73, 124, 0.1));
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1;
    margin-top: -115px; /* Negative margin to overlap under SearchBar */
}

    #snippet-list::-webkit-scrollbar {
        width: 8px;
    }

    #snippet-list::-webkit-scrollbar-track {
        background: rgba(61, 38, 34, 0.5);
        margin: 115px 0 0 0;
    }

    #snippet-list::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, rgba(199, 75, 53, 0.3), rgba(209, 73, 124, 0.3));
    }

        #snippet-list::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(to bottom, rgba(199, 75, 53, 0.7), rgba(209, 73, 124, 0.7));
        }

#list-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    flex: 1;
}

#list-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    font-family: 'Courier New', monospace;
    flex: 1;
}

#snippet-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    #snippet-container #snippet-item {
        background: linear-gradient(135deg, rgba(199, 75, 53, 0.2), rgba(209, 73, 124, 0.15));
        backdrop-filter: blur(10px);
        padding: 15px;
        padding-bottom: 50px;
        border-radius: 12px;
        cursor: pointer;
        border: 2px solid rgba(199, 75, 53, 0.1);
        transition: transform 0.2s, background-color 0.3s;
        position: relative;
    }

        #snippet-container #snippet-item:hover {
            transform: translateX(5px);
            background-color: rgba(209, 73, 124, 0.2);
        }

        #snippet-container #snippet-item.selected {
            transform: translateX(15px);
            background-color: rgba(209, 73, 124, 0.2);
        }

        #snippet-container #snippet-item.disabled {
            cursor: not-allowed;
            opacity: 0.75;
        }

            #snippet-container #snippet-item.disabled:hover {
                box-shadow: none;
            }

        #snippet-container #snippet-item h3 {
            margin-bottom: 5px;
            font-size: 1rem;
        }

#snippet-item #snippet-item-language-badge {
    display: inline-block;
    position: absolute;
    bottom: -6px;
    right: 20px;
    background: linear-gradient(135deg, rgba(199, 75, 53, 0.6), rgba(209, 73, 124, 0.6));
    padding: 4px 10px;
    border-radius: 10px 10px 0px 0px;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 5px 0;
    box-shadow: 0 1px 8px rgba(199, 75, 53, 0.3), 1px 0 8px rgba(209, 73, 124, 0.3);
}